{% extends "baseInit.html" %}
{% block title %}
    Connexion...
{% endblock %}
{% block content %}
        <i><b>Pour commencer, c'est très facile, connectez-vous avec votre compte Google</b></i>
        <a href="{{ urlconnecte }}" class="ui-btn ui-icon-user ui-btn-icon-left ui-shadow-icon ui-btn-b ui-corner-all" data-ajax="false">Connexion Google</a>
    <div class="ui-body ui-body-a ui-corner-all">
        <h3 class="ui-bar ui-bar-a ui-corner-all">Bienvenue sur www.points-jeux.com</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qx50ucIWL5M" frameborder="0" allowfullscreen></iframe>
        <script type="text/javascript">(function(){var x=document.createElement('script'), s=document.getElementsByTagName('script')[0];x.async=true;x.src='http://static.wideo.co/js/embed/wideoembed.js';s.parentNode.insertBefore(x,s)})();</script>
        <br/>Vous aimez la belote, le tarot, la pétanque, le rami et vous avez toujours révé d'enregistrer l'ensemble de vos parties sur internet.<br/>
        Vous pouvez maintenant le faire et tout est gratuit !!!<br/>
        Pour chacune de vos parties, vous pouvez visualiser chaque mènes.<br/>
        Le moteur de recherche instantanée vous permer de retrouver facilement vos parties.<br/>
{% endblock %}
